<mat-toolbar class="subtitulo">Cadastrar ação do Plano de Atividades</mat-toolbar>
<div class="painel-principal" style="padding: 10px;">
    <form #formCadastro="ngForm">
        <div class="painel-principal" style="padding: 10px;">
            <mat-tab-group>
                <!-- DADOS DA AÇÃO -->
                <mat-tab label="AÇÃO">
                    <form #formCadastroDadosAcao="ngForm">
                        <formulario-acao-oficina [acao]="acoes"></formulario-acao-oficina>
                    </form>
                </mat-tab>
        
                <!-- MATERIAIS DA AÇÃO -->
                <mat-tab label="MATERIAIS">
                    <form #formCadastroMateriaisAcao="ngForm">
                        <materiais-acoes [acao]="acoes"></materiais-acoes>
                    </form>
                </mat-tab>
            </mat-tab-group>
        </div>
    </form>    


    <!-- BOTOES -->
    <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
        fxFlexFill>
        <button *ngIf="!isAtualizar && mostrarBotaoCadastrar" mat-raised-button name="botaoConfirmar" fxFlex="20%"
            color="primary" [disabled]="formCadastro.invalid" (click)="cadastrar()"> Cadastrar
        </button>

        <button *ngIf="isAtualizar && mostrarBotaoAtualizar" mat-raised-button name="botaoConfirmar" fxFlex="20%"
            color="primary" [disabled]="formCadastro.invalid" (click)="atualizar()">
            Atualizar
        </button>

        <button *ngIf="mostrarBotaoLimpar()" mat-raised-button fxFlex="20%" (click)="limpar()">
            Limpar
        </button>
        <button mat-raised-button fxFlex="20%" (click)="cancelar()">
            Cancelar
        </button>

    </div>
</div>
