<div class="painel-principal" style="padding: 10px;">

        <!-- DADOS INICIAIS -->
        <mat-toolbar class="titulopartes">Dados Iniciais</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

            <!-- EMPRESAS -->
            <mat-form-field fxFlex="70%" fxLayoutGap="20px" fxFlexOffset="20px">
                <mat-label>Empresa:</mat-label>
                <mat-select [(ngModel)]=movimentacoes.empresa.id name="empresa">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let i of empresas" [value]=i.id>
                        {{i.nomeFantasia}}
                    </mat-option>
                </mat-select>
                <mat-hint *ngIf="empresas?.length === 0" align="start">Nenhuma empresa
                    cadastrada</mat-hint>
            </mat-form-field>

            <!-- TIPO MOVIMENTACAO -->
            <mat-form-field fxFlex="30%">
                <mat-label>Tipo de Movimentação:</mat-label>
                <mat-select [(ngModel)]=movimentacoes.stTipoMovimentacao name="tiposMovimentacao" required>
                    <mat-option *ngFor="let i of tiposMovimentacao" [value]=i.id>
                        {{i.descricao}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div fxLayout="row" fxLayoutGap="50px" fxFlexFill>

            <!-- DESCRICAO -->
            <mat-form-field fxFlexOffset="20px" fxFlex="64%" appearance="outline">
                <mat-label>Descrição:</mat-label>
                <textarea [(ngModel)]=movimentacoes.descricaoMovimentacao matInput #message name="descricao" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="3" maxlength="200">
                </textarea>
                <mat-hint align="end">{{message.value.length}} / 200</mat-hint>
            </mat-form-field>
        </div>


        <mat-toolbar class="titulopartes">Conta Bancária</mat-toolbar>
        <div fxLayout="row" 
             fxLayoutGap="50px" 
             style="margin-top: 10px; margin-bottom: 10px" 
             fxFlexFill>
            <mat-form-field fxFlex="90%" fxFlexOffset="20px">
                <mat-label>Agência - Conta Corrente</mat-label>
                <mat-select name="contaBancaria" 
                           [(ngModel)]="movimentacoes.contaBancaria.id"
                           (selectionChange)="carregarContaBancaria()">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let m of contasBancarias" [value]="m.id">
                        Banco: {{m.banco.numero}} - {{m.banco.nome}} - Agência: {{m.numeroAgencia}} - Conta: {{m.numeroContaBancaria}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <!-- DOCUMENTOS -->
        <mat-toolbar class="titulopartes">Documentos</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

            <!-- NR DOCUMENTOS -->
            <mat-form-field fxFlexOffset="20px" fxFlex="20%">
                <input [(ngModel)]=movimentacoes.nrDocumento 
                       #numeroDocumento 
                       matInput maxlength="20" 
                       name="numeroDocumento" 
                       placeholder="Número documento:">
                <mat-hint align="end">{{numeroDocumento.value.length}} / 20</mat-hint>
            </mat-form-field>

            <!-- DATA DOCUMENTOS -->
            <mat-form-field fxFlex="20%">
                <input matInput [(ngModel)]=movimentacoes.dataDocumento 
                       name="dataDocumento" [matDatepicker]="dataDocumento" 
                       placeholder="Data do documento:">
                <mat-datepicker-toggle matSuffix [for]="dataDocumento">
                </mat-datepicker-toggle>
                <mat-datepicker #dataDocumento></mat-datepicker>
            </mat-form-field>

            <!-- VALOR -->
            <mat-form-field fxFlex="15%">
                <input [(ngModel)]=movimentacoes.valorMovimentacao 
                       currencyMask name="valorMovimentacao" 
                       placeholder="Valor do movimento" 
                       #valorMovimentacao
                       (blur)="validarValorDodumento(valorMovimentacao.value)"
                       matInput maxlength="13"
                       [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                <span matPrefix>R$&nbsp;</span>
            </mat-form-field>

            <mat-form-field fxFlex="20%">
                <input [(ngModel)]=movimentacoes.qtdParcelas 
                        type="number" 
                        min=0 matInput maxlength="3" 
                        name="qtdParcelas" 
                        #qtdParcelas
                        (blur)="validarValorNegativo(qtdParcelas.value)"
                        placeholder="Quantidade de parcelas:" />
            </mat-form-field>
    
        </div>

        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
            <mat-form-field fxFlexOffset="20px" fxFlex="20%">
                <input [(ngModel)]=movimentacoes.valorISS 
                       currencyMask 
                       name="valorISS" 
                       placeholder="Valor do ISS" 
                       matInput maxlength="13"
                       [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                <span matPrefix>R$&nbsp;</span>
            </mat-form-field>

            <mat-form-field fxFlex="20%">
                <input [(ngModel)]=movimentacoes.valorICMS 
                       currencyMask 
                       name="valorICMS" 
                       placeholder="Valor do ICMS" 
                       matInput maxlength="13"
                       [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                <span matPrefix>R$&nbsp;</span>
            </mat-form-field>

            <mat-form-field fxFlex="20%">
                <input [(ngModel)]=movimentacoes.valorIPI 
                       currencyMask 
                       name="valorIPI" 
                       placeholder="Valor do IPI" 
                       matInput maxlength="13"
                       [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                <span matPrefix>R$&nbsp;</span>
            </mat-form-field>

            <mat-form-field fxFlex="20%">
                <input [(ngModel)]=movimentacoes.valorPisConfinsCsll 
                       currencyMask 
                       name="valorPisConfinsCsll" 
                       placeholder="Valor do PIS/COFINS/CSLL" 
                       matInput maxlength="13"
                       [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                <span matPrefix>R$&nbsp;</span>
            </mat-form-field>


            <mat-form-field fxFlex="20%">
                <input [(ngModel)]=movimentacoes.valorInss 
                       currencyMask 
                       name="valorInss" 
                       placeholder="Valor do INSS" 
                       matInput maxlength="13"
                       [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                <span matPrefix>R$&nbsp;</span>
            </mat-form-field>            
        </div>



        <!-- OUTRAS INFORMACOES -->
        <mat-toolbar class="titulopartes">Outras Informações</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
            <mat-form-field fxFlex="50%" fxLayoutGap="20px" fxFlexOffset="20px">
                <mat-label>Unidade</mat-label>
                <mat-select [(ngModel)]=movimentacoes.unidade.idUnidade name="unidade" required>
                    <mat-option></mat-option>
                    <mat-option *ngFor="let i of unidades" [value]=i.idUnidade>
                        {{i.nomeUnidade}}
                    </mat-option>
                </mat-select>
                <mat-hint *ngIf="programas?.length === 0" align="start">Nenhuma unidade cadastrado</mat-hint>
            </mat-form-field>

            <mat-form-field fxFlex="50%" fxLayoutGap="20px" fxFlexOffset="20px">
                <mat-label>Departamento</mat-label>
                <mat-select [(ngModel)]=movimentacoes.departamento.idDepartamento name="departamento">
                    <mat-option></mat-option>
                    <mat-option *ngFor="let i of departamentos" [value]=i.idDepartamento>
                        {{i.nmDepartamento}}
                    </mat-option>
                </mat-select>
                <mat-hint *ngIf="projetos?.length === 0" align="start">Nenhum departamento cadastrado</mat-hint>
            </mat-form-field>
        </div>


        <mat-toolbar class="titulopartes">Rateio entre Programas/Projetos</mat-toolbar>
        <div fxLayout="column" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

            <div fxFlex="100%" fxLayoutGap="20px" fxFlexOffset="20px" ngModelGroup="grupoRateio">
                <div *ngFor="let rateio of movimentacoes.rateios; let index = index">
                    <formulario-rateio [rateio]="rateio" 
                                       [index]="index"
                                       [rateios]="movimentacoes.rateios"   
                                       [perfilAcesso]="perfilAcesso" 
                                       [programas]="programas" 
                                       [projetos]="projetos">
                    </formulario-rateio>
                </div>
                <div *ngIf="perfilAcesso.insere" fxLayoutAlign="start center" fxLayoutGap="16px" style="padding-top: 10px; padding-left: 20px;">
                    <div>
                        <button matTooltip="Novo" mat-mini-fab color="primary" (click)="addRateio()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                </div>                
            </div>

        </div>

</div>
