<div class="painel-principal" style="padding: 10px;" *ngIf="isValidarFormulario">

    <copiar-dados-oficina [oficina]="oficina" [turmas]="turmas"></copiar-dados-oficina>

    <mat-tab-group>

        <!-- DADOS OFICINA -->
        <mat-tab label="OFICINA">
            <div ngModelGroup="grupoCadastroOficina">
                <dados-atividade [atividade]=oficina></dados-atividade>
            </div>
        </mat-tab>

        <!-- DADOS COLABORADORES ATIVIDADE -->
        <mat-tab label="COLABORADORES">
            <form #formCadastroColaboradoresAtividade="ngForm">
                <colaboradores-atividade [oficina]="oficina"></colaboradores-atividade>
            </form>
        </mat-tab>

        <!-- MATERIAIS DA ATIVIDADE -->
        <mat-tab label="MATERIAIS">
            <form #formCadastroMateriaisAtividade="ngForm">
                <materiais-oficina [oficina]="oficina"></materiais-oficina>
            </form>
        </mat-tab>

    </mat-tab-group>

</div>

<div dir="rtl" fxLayout="row" fxLayoutAlign="center center"
     fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px" fxFlexFill>

    <button *ngIf="!isAtualizar" mat-raised-button name="botaoLimpar" fxFlex="20%" color="primary"
        (click)="initObjeto()">
        Limpar Oficina
    </button>

    <button *ngIf="!isAtualizar" mat-raised-button name="botaoAdicionar" fxFlex="20%" color="primary"
            (click)="adicionar()">
        Adicionar Oficina
    </button>

    <button *ngIf="isAtualizar" mat-raised-button name="botaoLimpar" fxFlex="20%" color="primary" (click)="cancelar()">
        Cancelar Oficina
    </button>

</div>
