
.botao{
    width: 122px;
    height: 122px;
    background: url(../../../../assets/img/no-foto.png) no-repeat 0 0;
    background-size: cover;
    margin: auto;
    background-attachment: initial;
    background-position: center;
    background-color: aliceblue;
}

/* 354X472 */

.espaco{
    margin-bottom: 20px;
}

