<mat-toolbar class="subtitulo">Categorias Contábeis</mat-toolbar>
<div class="painel-principal" style="padding: 10px;">
    <form #formCadastro="ngForm">

        <mat-toolbar class="titulopartes">Dados Iniciais</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

            <!-- CATEGORIA SUPERIOR -->
            <mat-form-field fxFlex="30%" fxLayoutGap="20px" fxFlexOffset="20px">
                <mat-label>Categoria Superior:</mat-label>
                <mat-select name="categorias">
                    <mat-option *ngFor="let i of categorias">
                        {{i.nome}}
                    </mat-option>
                </mat-select>
                <mat-hint *ngIf="categorias?.length === 0" align="start">Nenhuma categoria
                    cadastrada</mat-hint>
            </mat-form-field>

            <!-- NOME -->
            <mat-form-field fxFlexOffset="20px" fxFlex="50%">
                <input #nome matInput maxlength="100" name="nome" placeholder="Nome:" required>
                <mat-hint align="end">{{nome.value.length}} / 100</mat-hint>
            </mat-form-field>

            <!-- TIPO -->
            <mat-form-field fxFlex="10%" fxLayoutGap="20px" fxFlexOffset="20px">
                <mat-label>Tipo:</mat-label>
                <mat-select name="tipo" required>
                    <mat-option *ngFor="let i of tipos">
                        {{i.descricao}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

            <div fxLayout="row"  fxFlexFill>
                <mat-form-field fxFlexOffset="20px" style="margin-top: 20px" fxFlex="95%" appearance="outline">
                    <mat-label>Descrição:</mat-label>
                    <textarea matInput #message name="descricao" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                        cdkAutosizeMinRows="3" maxlength="200" required>
                             </textarea>
                    <mat-hint align="end">{{message.value.length}} / 200</mat-hint>
                </mat-form-field>
            </div>


    </form>
</div>