<mat-toolbar class="subtitulo">Beneficiário</mat-toolbar>

<div class="painel-principal" style="padding: 10px;">
    <mat-horizontal-stepper #stepper style="background: transparent; padding: 10px">

        <!------------------ DADOS PESSOAIS ------------------------>
        <mat-step [stepControl]="formCadastroDadosPessoais">
            <form #formCadastroDadosPessoais="ngForm">
                <ng-template matStepLabel>DADOS PESSOAIS</ng-template>

                <dados-pessoais [pessoaFisica]="aluno.pessoaFisica"></dados-pessoais>

                <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                     fxFlexFill>
                    <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </form>
        </mat-step>

        <!--  ACADEMICO -->
        <mat-step style="padding-bottom: 20px" [stepControl]="formCadastroAcademico">
            <form #formCadastroAcademico="ngForm">
                <ng-template matStepLabel>ADMISSÃO</ng-template>
                <academico [aluno]="aluno"></academico>
            </form>

            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                  fxFlexFill>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperPrevious>
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>

        </mat-step>

        <!-- ------------------ ESCOLARIDADE ------------------------ -->
        <mat-step style="padding-bottom: 20px" [stepControl]="formCadastroEscolaridade">
            <form #formCadastroEscolaridade="ngForm">
                <ng-template matStepLabel>ESCOLARIDADE</ng-template>
                <escolaridade [pessoaFisica]="aluno.pessoaFisica"></escolaridade>
                <escolar [pessoaFisica]="aluno.pessoaFisica"></escolar>
            </form>

            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                  fxFlexFill>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperPrevious>
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>

        </mat-step>

        <!-- ------------------ DOCUMENTOS ------------------------ -->
        <mat-step style="padding-bottom: 20px" [stepControl]="formCadastroDocumentos">
            <form #formCadastroDocumentos="ngForm">
                <ng-template matStepLabel>DOCUMENTOS</ng-template>

                <documentos [pessoaFisica]="aluno.pessoaFisica"></documentos>
            </form>

            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                  fxFlexFill>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperPrevious>
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>

        </mat-step>

        <!-- ------------------ VULNERABILIDADE ------------------------ -->
        <mat-step style="padding-bottom: 20px" [stepControl]="formCadastroVulnerabilidade">
            <form #formCadastroVulnerabilidade="ngForm">
                <ng-template matStepLabel>VULNERABILIDADE</ng-template>
                <vulnerabilidade-aluno [aluno]="aluno"></vulnerabilidade-aluno>
            </form>

            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                  fxFlexFill>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                    <mat-icon>chevron_right</mat-icon>
                </button>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperPrevious>
                    <mat-icon>chevron_left</mat-icon>
                </button>
            </div>

        </mat-step>


        <!-- OUTRAS INFORMAÇOES -->
        <mat-step style="padding-bottom: 20px" [stepControl]="formCadastroOutrasInformacoes">
            <form #formCadastroOutrasInformacoes="ngForm">
                <ng-template matStepLabel>OUTRAS INFORMAÇÕES</ng-template>

                <atendimento-apoio [atendidoOrgaoRede]=aluno.atendidoOrgaoRede [pessoaFisica]="aluno.pessoaFisica"></atendimento-apoio>
            </form>

            <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
                  fxFlexFill>
                <button mat-mini-fab name="botaoConfirmar" color="primary" matStepperNext>
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>

        </mat-step>

    </mat-horizontal-stepper>
</div>

<!-- BOTOES -->
<div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px" fxFlexFill>
    <button *ngIf="!isAtualizar && mostrarBotaoCadastrar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastroDadosPessoais.invalid || formCadastroEscolaridade.invalid || formCadastroDocumentos.invalid ||
                        formCadastroOutrasInformacoes.invalid || formCadastroAcademico.invalid ||
                        formCadastroVulnerabilidade.invalid"
            (click)="cadastrar()"> Cadastrar
    </button>

    <button *ngIf="isAtualizar && mostrarBotaoAtualizar" mat-raised-button
            name="botaoConfirmar"
            fxFlex="20%"
            color="primary"
            [disabled]="formCadastroDadosPessoais.invalid || formCadastroEscolaridade.invalid || formCadastroDocumentos.invalid ||
                        formCadastroOutrasInformacoes.invalid || formCadastroAcademico.invalid ||
                        formCadastroVulnerabilidade.invalid"
            (click)="atualizar()">
            Atualizar
    </button>

    <button *ngIf="mostrarBotaoLimpar()"
            mat-raised-button
            fxFlex="20%"
            (click)="limpar()">
            Limpar
    </button>
    <button
            mat-raised-button
            fxFlex="20%"
            (click)="cancelar()">
            Cancelar
    </button>

</div>
