.tela-escolher-unidade{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    /* border: 3px solid #73AD21; */
    
}

.botao{
    height: 200px;
    width: 250px;
    background: url(../../../assets/img/no-foto.png) no-repeat 0 0;
    background-size: 100%;
    margin: auto;
    align-content: center;
}

.center {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }
