<div ngModelGroup="comboBeneficiario-{{data}}" fxFlex="100" fxLayoutGap="20px" fxFlexOffset="20px">
    <combo-pesquisavel #comboBeneficiario 
                        nome="beneficiario-{{data}}" 
                        [itens]="dados" 
                        itemDescricao="nome"
                        itemId="id"
                        [showDisplayId]="showDisplayId" 
                        [obrigatorio]="obrigatorio"
                        placeholder="Nome do beneficiário"
                        [(valor)]="selecionado"
                        (valorChange)="onValorChange($event)">
    </combo-pesquisavel>
</div>

