<mat-toolbar class="subtitulo">Reprovação de Aluno</mat-toolbar>

<div class="painel-principal" style="padding: 10px;">
    <form #formCadastro="ngForm">
        <mat-toolbar class="titulopartes">Encaminhamento</mat-toolbar>
        <div fxLayout="row" fxLayoutGap="20px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

            <mat-form-field fxFlex="40%" fxFlexOffset="20px">
                <mat-label>Selecione um aluno</mat-label>
                <mat-select [(ngModel)]="reprovacaoAluno.aluno.id" 
                            name="aluno" 
                            (selectionChange)="mostrarDadosAluno($event.value)"
                            required>
                    <mat-option></mat-option>
                    <mat-option *ngFor="let d of alunos" [value]="d.id">
                        {{d.pessoaFisica.nome}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field fxFlex="20%">
                <input matInput name="dataReprovacao" 
                       [matDatepicker]="dataReprovacao" 
                       placeholder="Data de reprovação"
                       [(ngModel)]="reprovacaoAluno.dataReprovacao">
                <mat-datepicker-toggle matSuffix [for]="dataReprovacao"></mat-datepicker-toggle>
                <mat-datepicker #dataReprovacao></mat-datepicker>
            </mat-form-field>

            <mat-form-field fxFlex="20%">
                <input matInput 
                       name="serieReprovacao" 
                       maxlength="20"
                       placeholder="Série de reprovação"
                       [(ngModel)]="reprovacaoAluno.serieReprovacao">
            </mat-form-field>

            <mat-form-field fxFlex="20%">
                <input matInput 
                       name="qtdReprovacao" 
                       maxlength="10"
                       placeholder="Quantidade de reprovação"
                       [(ngModel)]="reprovacaoAluno.qtdReprovacao"
                       pattern="[0-9]+$">
            </mat-form-field>
           
        </div>

        <div fxLayout="row" fxLayoutGap="20px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
            <mat-form-field fxFlex= "100%" fxFlexOffset="20px" appearance="outline" >
                    <mat-label>Descrição do encaminhamento</mat-label>
                    <textarea matInput #descricaoMotivo
                                name="descricaoMotivo"
                                [(ngModel)]="reprovacaoAluno.descricaoMotivo"
                                cdkTextareaAutosize
                                #autosize="cdkTextareaAutosize"
                                cdkAutosizeMinRows="2"
                                maxlength="200"></textarea>
                <mat-hint align="end">{{descricaoMotivo.value.length}} / 200</mat-hint>
            </mat-form-field>
        </div>

        <div *ngIf="reprovacaoAluno.aluno.id">
            <dados-aluno [aluno]="reprovacaoAluno.aluno"></dados-aluno>
        </div>
                    
    
        <!-- BOTOES -->
        <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px" fxFlexFill>
            <button *ngIf="!isAtualizar && mostrarBotaoCadastrar" mat-raised-button
                    name="botaoConfirmar"
                    fxFlex="20%"
                    color="primary"
                    [disabled]="formCadastro.invalid"
                    (click)="cadastrar()"> Cadastrar
            </button>

            <button *ngIf="isAtualizar && mostrarBotaoAtualizar" mat-raised-button
                    name="botaoConfirmar"
                    fxFlex="20%"
                    color="primary"
                    [disabled]="formCadastro.invalid"
                    (click)="atualizar()">
                    Atualizar
            </button>

            <button *ngIf="mostrarBotaoLimpar()" 
                    mat-raised-button 
                    fxFlex="20%" 
                    (click)="limpar()">
                    Limpar
            </button>
            <button 
                    mat-raised-button 
                    fxFlex="20%" 
                    (click)="cancelar()">
                    Cancelar
            </button>

        </div>
    </form>

</div>

