<form #formulario="ngForm">
    <mat-accordion>

        <mat-expansion-panel [expanded]="openFormCadastro" (closed)="openFormCadastro = false">
            <mat-expansion-panel-header>
                <mat-panel-title>Dados do Item</mat-panel-title>
            </mat-expansion-panel-header>

            <form #formCadastro="ngForm">

                <!-- DADOS INICIAIS -->
                <mat-toolbar class="titulopartes">Dados Iniciais</mat-toolbar>
                <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
        
                    <!-- CATEGORIAS -->
                    <mat-form-field fxFlex="30%" fxFlexOffset="20px">
                        <mat-label>Categoria Contábil:</mat-label>
                        <mat-select name="categoria" [(ngModel)]=itensMovimentacoes.categoria.id required>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let i of categorias" [value]=i.id>
                                {{i.nome}}
                            </mat-option>
                        </mat-select>
                        <mat-hint *ngIf="categorias?.length === 0" align="start">Nenhuma categoria
                            cadastrada</mat-hint>
                    </mat-form-field>
        
                    <!-- PEDIDO MATERIAL -->
                    <mat-form-field fxFlex="70%">
                        <mat-label>Pedido Material:</mat-label>
                        <mat-select name="pedidoMaterial" [(ngModel)]=itensMovimentacoes.pedidosMateriais.id>
                            <mat-option></mat-option>
                            <mat-option *ngFor="let i of pedidosMateriais" [value]=i.id>
                                {{i.descricaoPedido}}
                            </mat-option>
                        </mat-select>
                        <mat-hint *ngIf="pedidosMateriais?.length === 0" align="start">Nenhum pedido material cadastrado</mat-hint>
                    </mat-form-field>
        
                </div>
        
                <div fxLayout="row" style="padding-top: 20px; padding-bottom: 20px;" fxLayoutGap="50px" fxFlexFill>
        
                    <mat-form-field fxFlexOffset="20px" fxFlex="64%" appearance="outline">
                        <mat-label>Descrição item movimentação:</mat-label>
                        <textarea [(ngModel)]=itensMovimentacoes.descricaoItemMovimentacao 
                                  matInput #message name="descricao" 
                                  cdkTextareaAutosize 
                                  #autosize="cdkTextareaAutosize"
                                  cdkAutosizeMinRows="3" maxlength="200" >
                        </textarea>
                        <mat-hint align="end">{{message.value.length}} / 200</mat-hint>
                    </mat-form-field>
                </div>
        
                <div fxLayout="row" fxLayoutGap="50px">
                    <mat-form-field fxFlexOffset="20px" fxFlex="15%">
                        <input (ngModelChange)="multiplicar($event)" 
                               [(ngModel)]="itensMovimentacoes.valorUnitarioItem" 
                               currencyMask name="valorUnitario" 
                               placeholder="Valor Unitário:" 
                               matInput maxlength="13"
                               [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                        <span matPrefix>R$&nbsp;</span>
                    </mat-form-field>
        
                    <mat-form-field fxFlex="10%" >
                        <input type="number" (input)="multiplicarComQuantidade()" 
                               [(ngModel)]="itensMovimentacoes.quantidadeMaterial"  
                               matInput min="0" 
                               maxlength="3" 
                               name="qtdParcelas"
                               placeholder="Quantidade:" />
                    </mat-form-field>
        
                    <mat-form-field fxFlexOffset="20px" fxFlex="15%">
                        <input [(ngModel)]="itensMovimentacoes.valorTotalItem"
                               currencyMask name="valorTotal" 
                               placeholder="Valor Total:" 
                               matInput maxlength="13"
                               [options]="{ prefix: '', thousands: '.', decimal: ',' }" 
                               disabled />
                        <span matPrefix>R$&nbsp;</span>
                    </mat-form-field>
        
                </div>


                <mat-toolbar class="titulopartes">Valores</mat-toolbar>
                <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
        
                    <mat-form-field fxFlexOffset="20px" fxFlex="20%">
                        <input [(ngModel)]=itensMovimentacoes.valorISS 
                               currencyMask 
                               name="valorISS" 
                               placeholder="Valor do ISS" 
                               matInput maxlength="13"
                               [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                        <span matPrefix>R$&nbsp;</span>
                    </mat-form-field>
        
                    <mat-form-field fxFlex="20%">
                        <input [(ngModel)]=itensMovimentacoes.valorICMS 
                               currencyMask 
                               name="valorICMS" 
                               placeholder="Valor do ICMS" 
                               matInput maxlength="13"
                               [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                        <span matPrefix>R$&nbsp;</span>
                    </mat-form-field>
        
                    <mat-form-field fxFlex="20%">
                        <input [(ngModel)]=itensMovimentacoes.valorIPI 
                               currencyMask 
                               name="valorIPI" 
                               placeholder="Valor do IPI" 
                               matInput maxlength="13"
                               [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                        <span matPrefix>R$&nbsp;</span>
                    </mat-form-field>
        
                    <mat-form-field fxFlex="20%">
                        <input [(ngModel)]=itensMovimentacoes.valorPisConfinsCsll 
                               currencyMask 
                               name="valorPisConfinsCsll" 
                               placeholder="Valor do PIS/COFINS/CSLL" 
                               matInput maxlength="13"
                               [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                        <span matPrefix>R$&nbsp;</span>
                    </mat-form-field>
        
        
                    <mat-form-field fxFlex="20%">
                        <input [(ngModel)]=itensMovimentacoes.valorInss 
                               currencyMask 
                               name="valorInss" 
                               placeholder="Valor do INSS" 
                               matInput maxlength="13"
                               [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
                        <span matPrefix>R$&nbsp;</span>
                    </mat-form-field>            
                </div>
        
            </form>
            
            <div dir="rtl" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px"
                style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px" fxFlexFill>

                <button mat-raised-button name="botaoLimpar" fxFlex="20%" color="primary" (click)="limpar()">
                    Limpar
                </button>

                <button *ngIf="!isAtualizar"  mat-raised-button name="botaoAdicionar" [disabled]=formulario.invalid  fxFlex="20%" color="primary" (click)="adicionar()">
                    Adicionar
                </button>

                <button *ngIf="isAtualizar" mat-raised-button name="botaoAdicionar" [disabled]=formulario.invalid  fxFlex="20%" color="primary" (click)="atualizar()">
                    Atualizar
                </button>

            </div>

        </mat-expansion-panel>


     

        <mat-expansion-panel [expanded]="!openFormCadastro" (opened)="carregarLista()"
            (closed)="openFormCadastro = true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <span>Lista de Itens ( {{movimentacoes.itensMovimentacoes?.length || 0}} ) -</span>
                    <span style="font-weight: 800; padding-left: 10px;" [style.color]="valorItensSuperiorValorMovimento ? 'red' : 'green'">Valor Total: {{getValorTotalItens() | currency: 'BRL'}}</span>      
                    <span *ngIf="valorItensSuperiorValorMovimento" style="color: orangered; padding-left: 10px;">ATENÇÃO !!! A soma dos valores dos itens está superior ao valor do movimento.</span>
                </mat-panel-title>
            </mat-expansion-panel-header>


            <table *ngIf="mostrarTabela; else tabelaSemDados" mat-table [dataSource]="dataSource"
                style="margin-top: 20px">

                <ng-container matColumnDef="descricaoItemMovimentacao">
                    <th mat-header-cell *matHeaderCellDef> Descrição </th>
                    <td mat-cell *matCellDef="let element"> {{element.descricaoItemMovimentacao}} </td>
                </ng-container>

                <ng-container matColumnDef="quantidadeMaterial">
                    <th mat-header-cell *matHeaderCellDef> Quantidade </th>
                    <td mat-cell *matCellDef="let element"> {{element.quantidadeMaterial}} </td>
                </ng-container>
               
                <ng-container matColumnDef="valorUnitarioItem">
                    <th mat-header-cell *matHeaderCellDef> Valor Unitário </th>
                    <td mat-cell *matCellDef="let element"> {{element.valorUnitarioItem | currency: 'BRL'}} </td>
                </ng-container>
               
                <ng-container matColumnDef="valorTotalItem">
                    <th mat-header-cell *matHeaderCellDef> Valor Total </th>
                    <td mat-cell *matCellDef="let element"> {{element.valorTotalItem | currency: 'BRL'}} </td>
                </ng-container>

                <ng-container matColumnDef="acoes">
                    <th mat-header-cell *matHeaderCellDef > Ações </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button (click)="deletar(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <button  mat-button (click)="atualizarRegistro(element)">
                            <mat-icon>create</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <div [hidden]="!mostrarTabela">
                <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
            </div>

            <ng-template #tabelaSemDados>
                <div fxLayout="row" fxLayoutAlign="center center" style="padding-top: 10px">
                    {{msg}}
                </div>
            </ng-template>

            <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px"
                style="padding-top: 30px">
                <div>
                    <button matTooltip="Adicionar novo item" mat-fab color="primary" (click)="novo()">
                        <mat-icon>add</mat-icon>
                    </button>
                </div>
            </div>


        </mat-expansion-panel>

    </mat-accordion>
</form>