<mat-toolbar class="subtitulo">Cadastro Menor Aprendiz</mat-toolbar>

<div class="painel-principal" style="padding: 10px;">
    <form #formCadastro="ngForm">

        <div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

            <!-- ALUNO-->
            <div fxLayout="column" fxFlex="75%">
                <mat-toolbar class="titulopartes">Beneficiário</mat-toolbar>
                <mat-form-field style="margin: 0 20px 20px 20px">
                    <mat-label>Beneficiário:</mat-label>
                    <mat-select [(ngModel)]="alunoTrabalhando.aluno.id" name="aluno" required
                                (selectionChange)="mostrarDadosAluno($event.value)">

                        <mat-option></mat-option>
                        <mat-option *ngFor="let i of alunos" [value]="i.id">
                            {{i.pessoaFisica.nome}}
                        </mat-option>
                    </mat-select>
                    <mat-hint *ngIf="alunos?.length === 0" align="start">Nenhuma beneficiário cadastrado</mat-hint>
                </mat-form-field>

                <div *ngIf="alunoTrabalhando.aluno.id">
                    <dados-aluno [aluno]=alunoTrabalhando.aluno></dados-aluno>
                </div>
            </div>

            
            
            <div fxLayout="column" fxFlex="20%">
                <mat-toolbar class="titulopartes">Data</mat-toolbar>
                <div fxLayout="row" fxLayoutGap="50px" fxFlexFill>
                    <mat-form-field  style="margin-left: 20px" fxFlex="35%">
                        <input  matInput name="dataInicioAlunoTrabalhando"
                            [matDatepicker]="dataInicioAlunoTrabalhando" placeholder="Data Início:"
                            [(ngModel)]="alunoTrabalhando.dataInicioAlunoTrabalhando" >
                        <mat-datepicker-toggle matSuffix [for]="dataInicioAlunoTrabalhando"></mat-datepicker-toggle>
                        <mat-datepicker #dataInicioAlunoTrabalhando></mat-datepicker>
                    </mat-form-field>

                    <mat-form-field fxFlex="35%">
                        <input matInput name="dataFimAlunoTrabalhando" [matDatepicker]="dataFimAlunoTrabalhando"
                            placeholder="Data Fim:" [(ngModel)]="alunoTrabalhando.dataFimAlunoTrabalhando" >
                        <mat-datepicker-toggle matSuffix [for]="dataFimAlunoTrabalhando"></mat-datepicker-toggle>
                        <mat-datepicker #dataFimAlunoTrabalhando></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <mat-toolbar class="titulopartes">Empreendimento</mat-toolbar>

        <div fxLayout="row" fxLayoutGap="50px"  fxFlexFill>
            <mat-form-field fxFlexOffset="20px"  fxFlex="45%">
                <input #nomeEmpreendimento matInput maxlength="200" name="numeroAulas" placeholder="Nome do empreendimento:"
                    [(ngModel)]="alunoTrabalhando.nomeEmpreendimento">
                    <mat-hint align="end">{{nomeEmpreendimento.value.length}} / 200</mat-hint>
            </mat-form-field>

            <mat-form-field style="margin: 0 0 0 20px" fxFlex="45%" appearance="outline">
                    <mat-label>Descrição diagnóstico:</mat-label>
                    <textarea #observacoes matInput name="observacoes" [(ngModel)]="alunoTrabalhando.descTipoEmpreendimento" cdkTextareaAutosize
                        #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" maxlength="200"></textarea>
                        <mat-hint align="end">{{observacoes.value.length}} / 200</mat-hint>
                </mat-form-field>
        </div>

        <!-- BOTOES -->
        <div dir="rtl" fxLayoutGap="20px" style="padding-top: 20px; padding-bottom: 10px; padding-right: 20px"
            fxFlexFill>
            <button *ngIf="!isAtualizar && mostrarBotaoCadastrar" mat-raised-button name="botaoConfirmar" fxFlex="20%"
                color="primary" [disabled]="formCadastro.invalid" (click)="cadastrar()"> Cadastrar
            </button>

            <button *ngIf="isAtualizar && mostrarBotaoAtualizar" mat-raised-button name="botaoConfirmar" fxFlex="20%"
                color="primary" [disabled]="formCadastro.invalid" (click)="atualizar()">
                Atualizar
            </button>

            <button *ngIf="mostrarBotaoLimpar()" mat-raised-button fxFlex="20%" (click)="limpar()">
                Limpar
            </button>
            <button mat-raised-button fxFlex="20%" (click)="cancelar()">
                Cancelar
            </button>

        </div>
    </form>

</div>