<mat-form-field fxFlex="40%" fxLayoutGap="20px" fxFlexOffset="20px">
    <mat-label>Programa</mat-label>
    <mat-select [(ngModel)]="rateio.programa.id"
                name="programa_{{pinPrograma}}"
                #campoPrograma
                [required]="!rateio.projeto.id"
                (selectionChange)="validarDuplicado()">
        <mat-option></mat-option>
        <mat-option *ngFor="let i of programas" [value]=i.id>
            {{i.nome}}
        </mat-option>
    </mat-select>
    <mat-hint *ngIf="programas?.length === 0" align="start">Nenhum programa cadastrado</mat-hint>
</mat-form-field>

<mat-form-field fxFlex="40%" fxLayoutGap="20px" fxFlexOffset="20px">
    <mat-label>Projeto</mat-label>
    <mat-select [(ngModel)]=rateio.projeto.id 
                [required]="!rateio.programa.id"
                #campoProjeto
                name="projeto_{{pinProjeto}}"
                (selectionChange)="validarDuplicado()">
        <mat-option></mat-option>
        <mat-option *ngFor="let i of projetos" [value]=i.id>
            {{i.nome}}
        </mat-option>
    </mat-select>
    <mat-hint *ngIf="projetos?.length === 0" align="start">Nenhum projeto cadastrado</mat-hint>
</mat-form-field>  


<mat-form-field fxFlex fxFlexOffset="20px">
    <input [(ngModel)]=rateio.valorRateio 
           currencyMask 
           name="valor_{{pinValor}}"
           placeholder={{rateio.placeHolderRateio}}
           matInput 
           maxlength="13"
           [options]="{ prefix: '', thousands: '.', decimal: ',' }" />
    <span matPrefix *ngIf="!rateio.statusPercentual">R$&nbsp;</span>
    <span matSuffix *ngIf="rateio.statusPercentual" style="padding-left: 5px;">%&nbsp;</span>
</mat-form-field> 

<div fxFlex="10%" style="margin-top: 18px;margin-left: 26px;" >
    <mat-slide-toggle (click)="onCampoPorcentagem(rateio)">(%)</mat-slide-toggle>

    <button mat-icon-button 
            *ngIf="perfilAcesso.deleta" 
            (click)="deletarRateio()"
            style="padding: 0px;">
        <mat-icon>delete_forever</mat-icon>
    </button>                                
</div>
