.foto{
    width: 50px;
    height: 46px;
    background: url(../../../../../../assets/img/no-profile.jpg) no-repeat 0 0;
    background-size: cover;
    margin: auto;
    background-attachment: initial;
    background-position: center;
    background-color: aliceblue;
}