<div ngModelGroup="comboEmpresa-{{data}}" fxFlex="100" fxLayoutGap="20px" fxFlexOffset="20px">
    <combo-pesquisavel #comboEmpresa 
                       nome="empresa-{{data}}" 
                       [itens]="dados" 
                       itemDescricao="nomeRazaoSocial"
                       itemId="id"
                       [showDisplayId]="showDisplayId" 
                       [obrigatorio]="obrigatorio"
                       [desabilitado]="desabilitado"
                       placeholder="Razão Social"
                       [(valor)]="selecionado"
                       (valorChange)="onValorChange($event)">
    </combo-pesquisavel>
</div>

