<!-- ADMISSÃO -->
<mat-toolbar class="titulopartes">Admissão</mat-toolbar>
<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

  <div fxFlex="15%" fxFlexOffset="20px">
    <mat-form-field fxFlex="90%">
      <input matInput maxlength="15" name="matricula"
             placeholder="Matrícula" [disabled]="isEditarMatricula"
             [(ngModel)]="aluno.matriculaAluno">
    </mat-form-field>

    <div style="padding-top: 14px;">
      <button mat-icon-button (click)="editarMatricula()" matTooltip="Editar número da matricula">
        <mat-icon>create</mat-icon>
      </button>
    </div>
  </div>

  <mat-form-field fxFlex="85%">
    <mat-label>Selecione a Unidade</mat-label>
    <mat-select name="unidade" [(ngModel)]="aluno.unidade.idUnidade" required>
      <mat-option *ngFor="let u of unidades" [value]="u.idUnidade">
        {{u.nomeUnidade}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>


<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
  <div ngModelGroup="comboPrograma" fxFlex="50%" fxLayoutGap="20px">
      <mat-toolbar class="titulopartes">Programa</mat-toolbar>
      <combo-programa [showDisplayId]="false" 
                      [obrigatorio]="false" 
                      [selecionado]="aluno.programa"
                      (valorChange)="onValorChangePrograma($event)">
      </combo-programa>
  </div>

  <div ngModelGroup="comboProjeto" fxFlex="50%" fxLayoutGap="20px" fxFlexOffset="20px">
      <mat-toolbar class="titulopartes">Projeto</mat-toolbar>
      <combo-projeto [showDisplayId]="false" 
                      [obrigatorio]="false" 
                      [selecionado]="aluno.projeto"
                      (valorChange)="onValorChangeProjeto($event)">
      </combo-projeto>
  </div>

</div>

<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

  <mat-form-field fxFlexOffset="20px" fxFlex="15%">
    <input matInput name="dataEntrada" [matDatepicker]="dataEntrada" placeholder="Data de entrada"
           (input)="onMascaraDataInput($event)" 
           [(ngModel)]="aluno.dataEntrada">
    <mat-datepicker-toggle matSuffix [for]="dataEntrada"></mat-datepicker-toggle>
    <mat-datepicker #dataEntrada></mat-datepicker>
  </mat-form-field>


  <mat-form-field fxFlex="15%" >
    <input matInput name="dataDesligamento" [matDatepicker]="dataDesligamento" 
           placeholder="Data de desligamento"
           (input)="onMascaraDataInput($event)"
           [(ngModel)]="aluno.dataDesligamento">
    <mat-datepicker-toggle matSuffix [for]="dataDesligamento"></mat-datepicker-toggle>
    <mat-datepicker #dataDesligamento></mat-datepicker>
  </mat-form-field>

  <mat-form-field fxFlex="20%">
    <mat-label>Motivo Desligamento</mat-label>
    <mat-select [(ngModel)]="aluno.motivoDesligamento.id" name="motivoDesligamento">
      <mat-option></mat-option>
      <mat-option *ngFor="let m of listaMotivosDesligamento" [value]="m.id">
        {{m.motivoDesligamento}}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="listaMotivosDesligamento?.length === 0" align="start">Nenhum motivo de desligamento
      cadastrado</mat-hint>
  </mat-form-field>

  <mat-form-field fxFlex="40%">
    <input matInput #desligamento maxlength="200" name="desligamento"
      placeholder="Desligamento" [(ngModel)]="aluno.descDesligamento">
      <mat-hint align="end">{{desligamento.value.length}} / 200</mat-hint>
  </mat-form-field>

</div>


<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
  <mat-form-field fxFlex="20%" fxFlexOffset="20px">
    <input matInput name="dataSugestaoDesligamento" [matDatepicker]="dataSugestaoDesligamento"
           placeholder="Data sugestão de desligamento" 
           (input)="onMascaraDataInput($event)"
           [(ngModel)]="aluno.dataSugestaoDesligamento">
    <mat-datepicker-toggle matSuffix [for]="dataSugestaoDesligamento"></mat-datepicker-toggle>
    <mat-datepicker #dataSugestaoDesligamento></mat-datepicker>
  </mat-form-field>

  <mat-form-field fxFlex="80%" fxFlexOffset="20px">
    <input matInput #descricaoSugestao maxlength="200" name="descricaoSugestao"
      placeholder="Descrição sugestão de desligamento" [(ngModel)]="aluno.descricaoSugestaoDesligamento">
      <mat-hint align="end">{{descricaoSugestao.value.length}} / 200</mat-hint>
  </mat-form-field>

</div>



<!-- OUTRAS INFORMAÇÕES -->
<mat-toolbar class="titulopartes">Outras informações</mat-toolbar>

<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>

  <mat-form-field fxFlex="30%" fxFlexOffset="20px">
    <mat-label>Mora com o responsável ?</mat-label>
    <mat-select [(ngModel)]="aluno.moraPais" name="moraPais">
      <mat-option *ngFor="let m of sim_nao" [value]="m.flag">
        {{m.tipo}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="30%" fxFlexOffset="20px">
    <mat-label>Pais do beneficiário são casados ?</mat-label>
    <mat-select [(ngModel)]="aluno.paisCasados" name="paisCasados">
      <mat-option *ngFor="let m of sim_nao" [value]="m.flag">
        {{m.tipo}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="30%" fxFlexOffset="20px">
    <mat-label>Pode participar de apresentações externas e publicidades em geral ?</mat-label>
    <mat-select [(ngModel)]="aluno.participaApresentacaoExterna" name="participaApresentacaoExterna">
      <mat-option *ngFor="let m of sim_nao" [value]="m.flag">
        {{m.tipo}}
      </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
  <mat-form-field fxFlexOffset="20px" fxFlex="30%">
    <mat-label>Tipo Público Prioritário</mat-label>
    <mat-select [(ngModel)]="aluno.tiposPublicoPrioritario.id" name="tiposPublicoPrioritario">
      <mat-option></mat-option>
      <mat-option *ngFor="let m of listaTiposPublicoPrioritario" [value]="m.id">
        {{m.descricao}}
      </mat-option>
    </mat-select>
    <mat-hint *ngIf="listaTiposPublicoPrioritario?.length === 0" align="start">Nenhum tipo público prioritário
      cadastrado</mat-hint>
  </mat-form-field>

  <mat-form-field fxFlexOffset="20px" fxFlex="70%">
    <input matInput maxlength="500" #publicoPrioritario name="publicoPrioritario"
      placeholder="Aluno se trata de público prioritário" [(ngModel)]="aluno.publicoPrioritario">

    <mat-hint align="end">{{publicoPrioritario.value.length}} / 500</mat-hint>
  </mat-form-field>
</div>



<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
  <mat-form-field fxFlexOffset="20px" fxFlex="50%" appearance="outline">
    <mat-label>Descrição da pessoa que busca o beneficiário na escola:</mat-label>
    <textarea matInput #message name="descBuscaEscola" [(ngModel)]="aluno.descBuscaEscola" cdkTextareaAutosize
      #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" maxlength="200"></textarea>
    <mat-hint align="end">{{message.value.length}} / 200</mat-hint>
  </mat-form-field>

  <mat-form-field fxFlexOffset="20px" fxFlex="50%" appearance="outline">
    <mat-label>Observação:</mat-label>
    <textarea matInput #message name="observacoes" [(ngModel)]="aluno.observacoes" cdkTextareaAutosize
      #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" maxlength="2500"></textarea>
    <mat-hint align="end">{{message.value.length}} / 2500</mat-hint>
  </mat-form-field>

</div>

<div fxLayout="row" fxLayoutGap="50px" style="margin-top: 10px; margin-bottom: 10px" fxFlexFill>
  <mat-form-field fxFlexOffset="20px" fxFlex="100%" appearance="outline" hintLabel="Máximo 200 caracteres">
    <mat-label>Outras informações:</mat-label>
    <textarea matInput #message name="descOutrasInformacoes" [(ngModel)]="aluno.descOutrasInformacoes"
      cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="2" maxlength="200"></textarea>
    <mat-hint align="end">{{message.value.length}} / 200</mat-hint>
  </mat-form-field>
 
</div>
