<div fxLayout="row" fxLayoutGap="50px" class="espaco" fxFlexFill>
    <mat-form-field fxFlex= "15%" fxFlexOffset="20px">
        <input matInput name="dataPrevisaoInicio_{{pinDataPrevisaoInicio}}" 
                [matDatepicker]="dataPrevisaoInicio" 
                placeholder="Data Previsão de Início" 
                required
                (input)="onMascaraDataInput($event)"
                [(ngModel)]="acao.dataPrevisaoInicio">
        <mat-datepicker-toggle matSuffix [for]="dataPrevisaoInicio"></mat-datepicker-toggle>
        <mat-datepicker #dataPrevisaoInicio></mat-datepicker>
    </mat-form-field>


    <mat-form-field fxFlex="15%">
        <mat-label>Local Execução</mat-label>
        <mat-select [(ngModel)]="acao.localExecucao" name="localExecucao_{{pinLocalExecucao}}">
            <mat-option></mat-option>        
            <mat-option *ngFor="let m of local_execucao" [value]="m.flag">
            {{m.tipo}}
            </mat-option>
        </mat-select>
    </mat-form-field>        

    <mat-form-field fxFlex="70%" >
        <input [(ngModel)]=acao.descricao
               #descricao matInput  
               required
               name="descricao_{{pinDescricao}}" 
               placeholder="Descrição" />
        <mat-hint align="end">{{descricao.value.length}} / 200</mat-hint>               
    </mat-form-field>


    <div>
        <button mat-icon-button 
                *ngIf="perfilAcesso.deleta" 
                (click)="deletarAcao()"
                style="padding-top: 15px; color: red;">
            <mat-icon>delete_forever</mat-icon>
        </button>                                
    </div>
    

</div>


<!--
    <div fxLayout="row"  fxLayoutGap="50px" class="espaco" fxFlexFill>
        <div ngModelGroup="mgAnexosPlanejamento" fxFlex="100" fxLayoutGap="20px" style="padding-top: 15px;">
            <anexos [dadostela]="acao"></anexos>
        </div>
    </div> 
-->
    




