
.tela-upload{

    width: 450px;
    height: 575px;
    margin: auto;
    /* border: 3px solid #73AD21; */
}

.painel-foto{
   
    width: 350px;
    height: 300px;
    margin: auto;
    /* border: 3px solid #73AD21; */
  }

.nao-foto{
    background: url(../../../assets/img/no-foto.png) no-repeat 0 0;
 
}
